.rr-page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid;
}

// .rr-header-link > .rr-app-title {
//   margin: 0 auto;
// }
.rr-app-title > .rr-subtitle {
  font-weight: normal;
}

.rr-panel {
  padding: 1rem;
  border: 0.125rem solid;
  border-radius: 0.125rem;
}
.rr-textarea {
  width: 100%;
  padding: 0.5rem;
}
