/* app/styles/app.css */

a {
  color: inherit;
  text-decoration: none;
}

.rr-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rr-container:after {
  clear: both;
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .rr-container {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .rr-container {
    width: 50%;
  }
}

.rr-page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid;
}

.rr-page-header > .rr-app-title {
  margin-top: 0;
  margin-bottom: 0;
}

.rr-app-title > .rr-subtitle {
  font-weight: normal;
}

.list > li {
  margin-bottom: 10px;
}
