/* app/styles/app.css */
@import './general.css';
@import './colorPallete.css';
@import './navBar.css';
@import './pageHeader.css';
@import './ratingStar.css';
@import './responsive.css';


/* .list > li {
  margin-bottom: 10px;
} */

.rr-sidebar {
  float: left;
  width: calc(100% / 3);
}

.rr-main-panel {
  float: left;
  width: calc(100% / 1.5);
}

.rr-list {
  list-style-type: none;
  margin-bottom: 15px;
}

.rr-list-item {
  margin-bottom: 10px;
}

.rr-band-link > .rr-pointer {
  margin-left: 5px;
  display: none;
}

.rr-band-link.active > .rr-pointer {
  display: inline-block;
}

.rr-new-label {
  margin-top: 1rem;
  padding-left: 1rem;
}

.rr-input {
  color: var(--input-color);
  border-style: solid;
  border-width: 1px;
  padding: 0.25rem;
}

.rr-action-button {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: 0.125rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rr-action-button:hover {
  background-color: var(--button-hover-color);
}

.rr-action-button[disabled] {
  background-color: var(--button-disabled-color);
}

.rr-cancel-icon {
  align-self: center;
  margin-left: 0.25rem;
  background: none;
  border: none;
  color: inherit;
}

.rr-inline-form {
  display: flex;
}

.rr-inline-form-group {
  display: flex;
  justify-content: space-between;
}


