<nav class="rr-navbar" role="navigation">
  <ul class="rr-nav">
    <li class="rr-navbar-item" data-test-rr="details-nav-item">
      <LinkTo @route="bands.band.details">
        Details
      </LinkTo>
    </li>
    <li class="rr-navbar-item" data-test-rr="songs-nav-item">
      <LinkTo @route="bands.band.songs">
        Songs
      </LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}