<div class="rr-container">
  <div class="rr-page-header">
    <h1 class="rr-app-title">
      Rock & Roll
      <small class="rr-subtitle">
        with Ember.js
      </small>
    </h1>
  </div>
  <div class="rr-main-content">
    <ul class="list pa0 ma0">
      {{#each model as |song|}}
        <li>
          {{song.title}}
          by
          <em>
            {{song.band}}
          </em>
          <span class="rating fr">
            {{song.rating}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>